.header {
  width: 100%;
  padding: 1.3rem 2rem;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-check {
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-item,
.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.nav-item:hover {
  color: #ffd700;
}

.nav-item:hover .nav-sublist {
  display: block;
  position: absolute;
}

.nav-sublist {
  width: auto;
  display: none;
  background: #444;
  border-radius: 10px;
  z-index: 100;
}

.nav-subitem {
  list-style: none;
}

.nav-sublink {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.nav-sublink:hover {
  background: #ffd700;
  color: #333;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-search-input {
  padding: 0.5rem 1rem;
  border-radius: 10px 0px 0px 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.nav-search-button {
  padding: 0.5rem 1rem;
  border-radius: 0px 10px 10px 0px;
  border: none;
  outline: none;
  background: #ffd700;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}