/* Estilos a la tarjeta */
.media-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.media-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  scale: 1.02;
  transition: all 0.3s ease-in-out;
}

/* Estilos a la imagen */
.media-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Estilos al cuerpo de la tarjeta */
.media-body {
  width: 100%;
  height: 150px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-title {
  font-size: 1.2rem;
  font-weight: 700;
  overflow: hidden;
}

.media-details {
  display: flex;
  justify-content: space-between;
}

.media-year {
  flex-basis: 50%;
  font-size: 1.2rem;
  color: #595959;
}

/* Estilos a la valoración */
.media-rating {
  flex-basis: 50%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.progress-bar-container {
  flex-basis: 80%;
  height: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
}

.media-vote {
  flex-basis: 20%;
  font-size: 1.2rem;
  color: #595959;
}

@media screen and (max-width: 768px) {
  .media-image {
    height: 350px;
  }

  .media-body {
    height: 150px;
  }
}