* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.section-title {
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.mediaData-container {
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .mediaData-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tableta */
@media screen and (max-width: 768px) {
  .mediaData-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 425px) {
  .mediaData-container {
    grid-template-columns: 1fr;
  }
}