* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Poppins", sans-serif;
}

.section-title {
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.movies-container {
  padding: 1rem 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}
